<script>
	var sum = 0;
var btn = document.getElementById("save");
save.addEventListener("click", function(){
	var inputEle= document.getElementsByName("duration");
    for(var i=0;i<inputEle.length;i++){
      //alert(inputEle[i].value);  //get each value
      sum = sum + parseInt(inputEle[i].value); // If you want the sum(only for numbers else you will see a string as output)
    }
    alert("Total Sum = "+sum);

});
</script>
<center><font face="ArialT" color="Red" size="4"><b>Time Sheet</b></font>
<hr width="120" color="green" size="4"><br>
<%= nested_form_for @project, :url => {:action => "uptasks"} do |f| %>
<% if @taskdate %>
	<%= date_field(:obj, :taskdate, :value => @taskdate) %>
<% else %>
	<%= date_field(:obj, :taskdate) %>
<% end %><br><br>
<table id="tasks"><tr><td><font face='Arial' color='blue' size='3'>ProjectTitle</font></td><td><font face='Arial' color='blue' size='3'>Title</font></td><td><font face='Arial' color='blue' size='3'>Description</font></td><td><font face='Arial' color='blue' size='3'>Duration</font></td></tr>
<%= f.fields_for :tasks, :wrapper => false do |task| %>

	 <tr class="fields"><td> 
<%= task.select :proj_id, options_for_select(Proj.all.map{|c| [c.title, c.id]}, task.object.proj_id), {}, {class: "form-control selectpicker", data: "live-search"} %></td><td>
		<%= task.text_field :title %></td>

	<td>
		<%= task.text_field :desc %></td><td>	
		<%= task.text_field :duration %></td><td><%= task.link_to_remove "Remove" %></td>

</tr>

<% end %>

</table><br>
 	<%= f.link_to_add "add", :tasks,  "data-target" => "#tasks"%>	
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<%= f.submit "save" %><br>
	<br><%= link_to 'Back', {:controller => 'project', :action => 'index'} %>
<% end %><br><br>
<center>  <font face="ArialT" color="Red" size="4" ><b> All Tasks </b></font></center>
<hr size="5" color="green"><br><br>
<table border="2" cellspacing="4" cellpadding="4">
<tr><td><font face="ArialT" color="blue" size="4">Project Title</font></td><td><font face="ArialT" color="blue" size="4">Description</font></td><td><center><font face="ArialT" color="blue" size="4">Task</font></center></td></tr></font>
<% @projects.each do |p| %>
<tr><td><%= p.title %><td><%= p.desc %></td><td><table cellspacing="4" cellpadding="4"><tr><td><font face="ArialT" color="blue" size="4">Date</font></td><td><font face="ArialT" color="blue" size="4">Title</font></td><td><font face="ArialT" color="blue" size="4">Description</font></td><td><font face="ArialT" color="blue" size="4">Duration</font></td></tr><% p.tasks.each do |t| %><tr></td><td><%= t.taskdate %></td><td><%= t.title %></td><td><%= t.desc %></td><td><%= t.duration %></td></tr><% end %></table></td></tr><% end %></table>
